<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">

    <title>Caelum - About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div id="header">
            About Caelum
        </div>

        <div id="para">
            <p>Caelum is a simple, and minimalistic application that provides data of the entered location's weather at certain time points.</p>
            <p>This app an experimental demo integrating the new languages, skills, and libraries learned in the process. This weather application
                demonstrates the usage of Weatherstack's RESTful API to retrieve climate data upon the request of the user's input of location. </p>
        </div>
    </div>
    {{>footer}}
</body>
</html>