<header>
    <h1>{{title}}</h1>

    <a style="color: white;" href="/">Weather</a>
    <a style="color: white;" href="/about">About</a>
    <a style="color: white;" target="_blank" href="https://github.com/frankxliu">Developer</a>
</header>
